# Frontend 
front/node_modules/ 
front/dist/ 
front/build/ 
front/.env 
 
# Backend 
back/target/ 
back/.idea/ 
back/*.iml 
src/main/resources/application.properties 
*.log 
 
# OS / IDE / ±‚≈∏ 
.DS_Store 
Thumbs.db 
.vscode/ 
